## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [ ]:
n = int(input("Enter n value: "))
sum=0
for i in range(1,n+1):
  sum+=i
print("Total:",sum)

Enter n value: 5
Total: 15

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [ ]:
n = int(input("enter n value: "))
count=0
for i in range(1,n+1):
  if i%3==0:
    count+=1
print("Total number: ",count)

enter n value: 6
Total number:  2

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [ ]:
n = int(input("Enter number of  table:"))
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")

Enter number of  table:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [ ]:
n = int(input("Enter n value: "))
fact = 1
for i in range(1,n+1):
  fact*=i
print("Factorial: ",fact)

Enter n value: 5
Factorial:  120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:
n=int(input("Enter n value: "))
sum=0
for i in range(1,n+1):
  sum+=i
print("Total: ",sum)

Enter n value: 10
Total:  55

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [ ]:
 n = int(input("Enter a number: "))

for i in range(1, n + 1):
    value = i
    value += 5
    print(value)

Enter a number: 5
6
7
8
9
10

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [ ]:
n = int(input("Enter n value: "))
odd = even =0
for i in range(1,n+1):
  if i%2==0:
    even+=1
  else:
    odd+=1
print(f"Total nubers of Even: {even} and Odd: {odd}")

Enter n value: 5
Total nubers of Even: 2 and Odd: 3

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [ ]:
n = int(input("enter n value: "))
for i in range(1,n+1):
  print(i*i)

enter n value: 5
1
4
9
16
25

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [ ]:
n = int(input("Enter n value: "))
even = odd = 0
for i in range(1,n+1):
  if i%2==0:
    even+=i
  else:
    odd+=i
print(f"sum of Even: {even} and Odd: {odd}")

Enter n value: 5
sum of Even: 6 and Odd: 9

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [ ]:
n = int(input("Enter n value: "))
count=0
for i in range(1,n+1):
  if (i%3==0) and (i%5==0):
    count+=1
print("Result: ",count)

Enter n value: 30
Result:  2

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [ ]:
n = int(input("Enter n value: "))
for i in range(1,n+1):
  if i%4!=0:
    print(i)

Enter n value: 10
1
2
3
5
6
7
9
10

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [1]:
n = int(input("Enter n value: "))

largest = 1
for i in range(1, n + 1):
    if i > largest:
        largest = i

print("Largest number:", largest)

Enter n value: 6
Largest number: 6

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [6]:
a = int(input("Enter base (a): "))
b = int(input("Enter power (b): "))

result = 1
for i in range(b):
    result *= a

print("Result:", result)

Enter base (a): 3
Enter power (b): 6
Result: 729

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [21]:
n = int(input("Enter number: "))
flag =0
if n<=1:
  flag =1
else:
  for i in range(2,n-1):
    if n%i==0:
      flag=1
      break
    else:
      flag = 0
if flag==0:
  print("prime")
else:
  print("No prime")

Enter number: -4
No prime

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [47]:
n = int(input("Enter n value: "))

for num in range(2, n + 1):
    flag = 1
    for i in range(2, num):
        if num % i == 0:
            flag = 0
            break
    if flag == 1:
        print(num)

Enter n value: 10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [40]:
n = int(input("Enter n value: "))
flag =0
for i in range(1,n+1):
  if (i%7==0) and (i%11==0):
    print("First number: ",i)
    break

Enter n value: 80
First number:  77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [45]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123